{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="product{{ basket.id }}">

        <div class="section">
            <!-- container -->
            <div class="container" style="min-height: 33em;">
                <!-- row -->
                <div class="row">
                        <div class="col-md-12">
                            <div class="order-summary clearfix">
                                <div class="section-title">
                                    <h3 class="title">Order Review</h3>
                                </div>
                                {% if basket_products %}
                                    <div class="divTable">
                                         <div class="headRow">
                                            <div class="divCell" align="center">Product</div>
                                             <div class="divCell" align="center">&nbsp;</div>
                                            <div class="divCell" align="center">Price</div>
                                            <div class="divCell" align="center">Quantity</div>
                                             <div class="divCell" align="center">Total</div>
                                         </div>
                                        {% for basket_product in basket_products %}
                                            <div class="divRow">
                                                <hr><div class="divCell" align="center"><div class="thumb"><img src="{% static 'assets/img/blue.jpg' %}" alt=""></div></div>
                                                <div class="divCell" align="center">
                                                    <strong>
                                                        <a href="{% url 'product_details' basket_product.product.pk %}">
                                                            {{ basket_product.product.name }}
                                                        </a>
                                                    </strong>
                                                </div>
                                                <div class="divCell" align="center"><strong>${{ basket_product.product.value }}</strong></div>
                                                <div class="divCell" align="center" style="font-size: 17px;"><strong>{{ basket_product.quantity }}</strong></div>
                                                <div class="divCell" align="center"><strong style="color: #49a6f8">${{ basket_product.value }}</strong></div>
                                                <div class="divCell" align="center">
                                                    <form id="form1" method="POST" action="{% url 'basket_remove' basket_product.product.pk %}">
                                                        {% csrf_token %}
                                                         <button type="submit" class="main-btn icon-add-btn" style="width: 50px; font-size: 17px;"><i class="fa fa-close"></i></button>
                                                        <input type="hidden" value="{{ product.id }}" name="pk">
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                                    <div align="right">
                                    <table class="shopping-cart-table table" style="width:40%; alignment: right;">
                                        <tfoot>
                                            <tr>
                                                <th class="empty" colspan="3"></th>
                                                <th>SUBTOTAL</th>
                                                <th colspan="2" class="sub-total">
                                                    ${{ basket.value }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="empty" colspan="3"></th>
                                                <th>SHIPING</th>
                                                <td colspan="2">Free Shipping</td>
                                            </tr>
                                            <tr>
                                                <th class="empty" colspan="3"></th>
                                                <th>TOTAL</th>
                                                <th colspan="2" class="total">
                                                    ${{ basket.value }}
                                                </th>
                                            </tr>

                                        </tfoot>
                                    </table>
                                    <div class="pull-right">
                                        <form method="POST" action="{% url 'order_new' %}">
                                            {% csrf_token %}
                                            <button class="primary-btn">Place Order</button>
                                        </form>
                                    </div>
                                    </div>

                                {% else %}

                                    <div id="empty-basket" style="font-size: 17px; margin-top: 3em; margin-bottom: 1em; text-align: center;">You have nothing in your basket :(</div>

                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
