{% extends 'base.html' %}

{% block content %}

    <div class="section">
            <!-- container -->
            <div class="container" style="min-height: 33em;">
                <!-- row -->
                <div class="row">
                    <form id="checkout-form" class="clearfix">
                        <div class="col-md-12">
                            <div class="order-summary clearfix">
                                <div class="section-title">
                                    <h3 class="title">Orders</h3>
                                </div>
                                {% if orders %}
                                    <div id="products" style="margin-top: 3em; font-size: 20px;">

                                        <center><table class="shopping-cart-table table" style="width:40%;">
                                            <thead>
                                                <tr>
                                                    <th class="text-right">Id</th>
                                                    <th class="text-center">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        <td class="thumb text-right">
                                                            <div id="order{{ order.id }}">
                                                                <a href="{% url 'order_details' order.pk %}">
                                                                    {{ order.id }}
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="thumb text-center"><strong>{{ order.value }} zł</strong><br><del class="font-weak"></del></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table></center>
                                    </div>
                                    <div style="margin-top:4em; font-size:15px; text-align: center;">
                                        {% if orders.has_previous %}
                                            <a href="?page=1">&laquo;</a>
                                            <a href="?page={{ orders.previous_page_number }}">&lsaquo;</a>
                                        {% endif %}

                                        <span class="current">
                                            Page {{ orders.number }} of {{ orders.paginator.num_pages }}
                                        </span>

                                        {% if orders.has_next %}
                                            <a href="?page={{ orders.next_page_number }}">&rsaquo;</a>
                                            <a href="?page={{ orders.paginator.num_pages }}">&raquo;</a>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div id="empty-basket" style="font-size: 17px; margin-top: 3em; margin-bottom: 1em; text-align: center;">You have not ordered anything yet :(</div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
