{% extends 'base.html' %}

{% block content %}

    <div id="product{{ product.id }}">

        <div class="section">
            <!-- container -->
            <div class="container" style="min-height: 33em;">
                <!-- row -->
                <div class="row">
                    <form id="checkout-form" class="clearfix">
                        <div class="col-md-12">
                            <div class="order-summary clearfix">
                                <div class="section-title">
                                    <h3 class="title">Order details</h3>
                                </div>
                                    <div id="products" style="margin-top: 3em; font-size: 20px;">
                                        <b>Order id: </b> {{ order.id }} <br/>
                                        <b>Order value: </b> {{ order.value }} zł<br/><br/>
                                        <center><table class="shopping-cart-table table" style="width:70%;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Product id</th>
                                                    <th class="text-center">Product</th>
                                                    <th class="text-left">&nbsp;&nbsp;Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in order.basket.products.all %}
                                                    <tr>
                                                        <td class="thumb text-center">{{ product.id }}</td>
                                                        <td class="e text-center">
                                                    <strong>
                                                        <a href="{% url 'product_details' product.pk %}">
                                                            {{ product.name }}
                                                        </a>
                                                    </strong></td>
                                                        <td class="thumb text-left"><strong>{{ product.value }} zł</strong><br><del class="font-weak"></del></td>
                                                    <td>{{ product.quantity }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table></center>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
