{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="products">
        <!-- section -->
        <div class="section">
            <!-- container -->
            <div class="container" style="min-height: 33em;">
                <!-- row -->
                <div class="row">
                        <div class="col-md-12">
                            <div class="order-summary clearfix">
                                <div class="section-title">
                                    <h3 class="title">Products</h3>
                                </div>
                                <div class="divTable">
                                     <div class="headRow">
                                        <div class="divCel" align="center">Product</div>
                                         <div class="divCel" align="center">&nbsp;</div>
                                        <div class="divCel" align="center">Price</div>
                                        <div class="divCel" align="center">Quantity</div>
                                         <div class="divCel" align="center">&nbsp;</div>
                                     </div>
                                    {% for product in products %}
                                        <div class="divRow">
                                            <hr><div class="divCelll" align="center"><div class="thumb"><img src="{% static 'assets/img/blue.jpg' %}" alt=""></div></div>
                                            <div class="divCelll" align="center"><strong>
                                                <a href="{% url 'product_details' product.pk %}">
                                                    {{ product.name }}
                                                </a></strong>
                                            </div>
                                                <div class="divCelll" align="center"><strong>${{ product.value }}</strong></div>
                                                <div class="divCelll" align="center" style="white-space: nowrap;">
                                                    <form method="POST" action="{% url 'basket' %}">
                                                    {% csrf_token %}
                                                        <input type="hidden" value="{{ product.id }}" name="pk">
                                                        <div class="divCelll" align="center">
                                                            <input class="qty" style="font-size: 17px; text-align: center;" title="quantity" type="number" name="quantity" min="0" max="100" step="1" value="1">
                                                        </div>
                                                        <button type="submit" class="main-btn icon-add-btn" style="width: 190px; font-size: 17px;"><i class="fa fa-plus"></i> Add to basket</button>
                                                    </form>
                                                </div>
                                        </div>
                                    {% endfor %}
                            </div>
                            <div style="margin-top:2.5em; font-size:15px; text-align: center;">
                                {% if products.has_previous %}
                                    <a href="?page=1">&laquo;</a>
                                    <a href="?page={{ products.previous_page_number }}">&lsaquo;</a>
                                    {% endif %}
                                <span class="current">
                                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                                </span>
                                {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}">&rsaquo;</a>
                                    <a href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                                {% endif %}
                            </div>
                        </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /section -->
        </div>
    </div>

{% endblock %}
