{% extends 'base.html' %}

{% block content %}

    <div id="products">
        <!-- section -->
        <div class="section">
            <!-- container -->
            <div class="container" style="min-height: 33em;">
                <!-- row -->
                <div class="row">
                    <form id="checkout-form" class="clearfix">
                        <div class="col-md-12">
                            <div class="order-summary clearfix">
                                <div class="section-title">
                                    <h3 class="title">Product details</h3>
                                </div>
                                <div style="margin-top: 3em;">
                                    <h3>{{ product.name }} - {{ product.value }} zł</h3>
                                </div>
                                <div style="margin-top: 2em; margin-bottom:5em; font-size: 20px; text-align: justify">
                                    {{ product.description }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
