{% extends 'base.html' %}

{% block content %}

    <div class="container" style="min-height: 37em;">
        <div id="empty-basket" style="font-size: 17px; margin-top: 5em; margin-bottom: 1em; text-align: center;">
            You cannot go there without signing in :(
        </div>
    </div>

{% endblock %}
