<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PAW3 - WIiNoM</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/nouislider.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.css' %}">

        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.zoom.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

        <style type="text/css">
            .divTable {
                display:  table;
                width:auto;
                border-spacing:5px;
                padding: 15px 0px;
                font-size: 15px;
                vertical-align: middle;
                border-top: 1px solid #DADADA;
                border-bottom: 1px solid #DADADA;
                margin-top: 3em;
            }

            .headRow {
                text-transform: uppercase;
                font-weight: bold;
            }

            .divRow {
               display:table-row;
               width:auto;
                font-size: 18px;
            }

            .divCell {
                float:left;/*fix for  buggy browsers*/
                display:table-column;
                width:188px;
            }

            .divCelll {
                float:left;/*fix for  buggy browsers*/
                display:table-column;
                width:188px;
                margin-right: 2em;
            }

            .divCel {
                float:left;/*fix for  buggy browsers*/
                display:table-column;
                width:188px;
                margin-right: 2.3em;
            }

            .thumb>img {
                width:60px;
            }
    </style>

    </head>

    <body>
        {% include 'top_menu.html' %}

        <div style="text-align: center; color: #F8694A; font-size: 17px; margin-top: 2em;">

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        </div>

        {% block content %}

        {% endblock %}

        {% include 'footer.html' %}

    </body>

</html>