	<footer id="footer" class="section section-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">

                        <div class="footer-icons">
                             <a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x" style="color: #F8694A;"></i></a>&nbsp;
                             <a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x" style="color: #F8694A;"></i></a>&nbsp;
                             <a href="https://www.instagram.com"><i class="fa fa-instagram fa-2x" style="color: #F8694A;"></i></a>&nbsp;
                             <a href="https://www.github.com"><i class="fa fa-github fa-2x" style="color: #F8694A;"></i></a>&nbsp;
                             <a href="https://www.dribbble.com"><i class="fa fa-dribbble fa-2x" style="color: #F8694A;"></i></a>&nbsp;<br/><br/>
                        </div>

						Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved
					</div>
				</div>
			</div>
		</div>
	</footer>
