{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- HOME -->
        <div id="home">
            <!-- container -->
            <div class="container">
                <!-- home wrap -->
                <div class="home-wrap">
                    <!-- home slick -->
                    <div id="home-slick">
                        <!-- banner -->
                        <div class="banner banner-1">
                            <img src="{% static 'assets/img/ebook.jpeg' %}" alt="">
                            <div class="banner-caption text-center">
                                <h1 style="text-shadow: 3px 3px 5px #ffffff, -3px -3px 5px #ffffff,-3px 3px 5px #ffffff,3px -3px 5px #ffffff;;">E-books</h1>
                                <h3 class="white-color font-weak"></h3>
                                <a href="{% url 'product_list' %}"> <button class="primary-btn">Shop Now</button></a>
                            </div>
                            <div style="margin-top: 3em; margin-bottom:2em; font-size: 20px; text-align: justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut nisi congue, varius nibh vel, pellentesque metus. Nunc cursus dapibus massa vitae tincidunt. Phasellus maximus volutpat odio in rutrum. Aenean a congue augue. Phasellus in euismod elit. Mauris sed interdum lacus. Nunc at massa feugiat, sollicitudin ipsum et, laoreet neque. Nullam quis feugiat mauris, non congue purus. Donec cursus odio sed orci aliquam facilisis sed et augue.
                                <br/><br/>
                                Donec rhoncus lectus ut nisl ullamcorper porta non nec felis. Integer elementum suscipit suscipit. Morbi augue erat, iaculis nec mauris sit amet, lacinia tincidunt turpis. Nulla accumsan imperdiet odio, eu blandit augue. Fusce eget fermentum arcu. Maecenas dui enim, porta vel mi id, lobortis consequat est. Fusce interdum, velit in porta fermentum, purus purus laoreet nisl, eu euismod magna urna vitae quam. Nulla dictum pellentesque lacus, vel ultrices libero finibus vel.
                                <br/><br/>
                                Cras a molestie nisi. Nulla mattis tristique augue, et hendrerit est semper id. Suspendisse potenti. Vestibulum eu tincidunt orci. Donec sapien ipsum, tincidunt cursus consequat id, aliquam at metus. Praesent tincidunt vitae augue sit amet rutrum. Vestibulum pulvinar elementum dolor nec ultrices. In placerat turpis ut blandit fringilla. Vestibulum ornare lorem ac massa suscipit, nec suscipit sapien posuere. Vestibulum ut elit eu.
                            </div>
                        </div>
                        <!-- /banner -->
                        <!-- /banner -->
                    </div>
                    <!-- /home slick -->
                </div>
                <!-- /home wrap -->
            </div>
            <!-- /container -->
        </div>
        <!-- /HOME -->

{% endblock %}