{% load static %}

	<header>

		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="#">
							<a href="{% url 'home' %}"><img src="{% static 'assets/img/logo.png' %}" alt="" /></a>
						</a>
					</div>
					<!-- /Logo -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
                        {% if user.is_authenticated %}
                            <!-- Account -->
                            <li class="header-account dropdown default-dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <div class="header-btns-icon">
                                        <i class="fa fa-user-o"></i>
                                    </div>
                                    <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                                </div>
                                <a href="https://www.twitter.com/{{ user.username }}" class="text-uppercase"> @{{ user.username }}</a>
                                <ul class="custom-menu">
                                    <li><a href="{% url 'order_list' %}"><i class="fa fa-list"></i> Orders</a></li>
                                    <li><a href="{% url 'basket' %}"><i class="fa fa-check"></i> Checkout</a></li>
                                    <li><a href="{% url 'logout' %}"><i class="fa fa-unlock-alt"></i> Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <!-- Account -->
                            <li class="header-account">
                                <div>
                                    <div class="header-btns-icon">
                                        <i class="fa fa-user-o"></i>
                                    </div>
                                    <strong class="text-uppercase">My Account &nbsp;&nbsp;</strong>
                                </div>
                                <a href="{% url 'social:begin' 'twitter' %}" class="text-uppercase">Login using <i class="fa fa-twitter"></i></a>
                            </li>
                        {% endif %}
						<!-- /Account -->

						<!-- Cart -->
						<li class="header-cart dropdown default-dropdown">
							<a href="{% url 'basket' %}">
								<div class="header-btns-icon">
									<i class="fa fa-shopping-cart"></i>
									<span class="qty">
                                        {{ basket_quantity }}
                                    </span>
								</div>
								<strong class="text-uppercase">My Cart:</strong>
								<br>
								<span>{{ basket_value }} zł</span>
							</a>
						</li>
						<!-- /Cart -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->

    <!-- NAVIGATION -->
	<div id="navigation" style="height: 3.5em;">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
                        <li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'product_list' %}">Products</a></li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->